<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-md-4">
        <h1>Jow Heads</h1>
      </div>
      <div class="menu col-md-8">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href=#>Programming</a></li>
          <li><a href=#>Graphic Design</a></li>
          <li><a href=#>Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  
<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>We are here to make some projects</h2>
      <a class="btn btn-primary btn-lg" href="#">View my Work</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li>
        <div class="github">
          <a class="github" href="#">github</a>
        </div>
      </li>
      <li>
        <div class="linkedin">
          <a href="#">linkedin</a>
        </div>
      </li>
      
    </ul>
    <p>&copy; 2018 Jow Heads</p>
  </div>
</div>